.navbar-main {
    background-image: linear-gradient(to bottom, rgba(244, 244, 248, 0.78), rgba(250, 246, 249, 0)),
    url(../images/img-bg-partner-1920x600.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.navbar-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
}
.btn{
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: #7EB52A;
    font-weight: lighter;
}
.row{
    margin-top: 85px;
}
.col-sm-6{
    margin-top: 55px;
}
.row-brand{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tick {
    list-style: none;
    margin-left: -17px;
    margin-bottom: 55px;
  }
.tick li:before {
    content: "✓ ";
    color: #7EB52A;
    font-weight: 900;
}
.p-head{
    font-size: 17px;
    font-weight: 400;
    color: #1E344C;
    letter-spacing: 0.8px;
}
.li{
    font-size: 15px;
    color: black;
}
.col-lg-2{
    margin-top: 30px;
    margin-right: -55px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: #1E344C;
    margin-bottom: 25px;
    text-align: center;
}
h4{
    color: #1E344C;
    font-weight: 400;
    font-size: 24px;
}
p, ul, span{
    color: #757E8C;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 25px;
}
span{
    font-size: 14px;
}
.customer-experience{
    line-height: 22px;
}
.align-items-center{
    display: flex;
    align-items: center;
}
.grid-gap{
    margin: 0 50px 0 50px;
}
.last{
    color: #2069BF;
    font-size: 23px;
    font-weight: 400;
    margin-top: -20px;
    letter-spacing: 2px;
}
.last span{
    font-size: 23px;
    font-weight: 400;
}
.row-referral{
    margin-top: 140px;
    padding: 50px 35px 50px 35px;
    background-color: #ECF3F7;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 11px 0 #D7D7D7;
	-moz-box-shadow: 0 5px 11px 0 #D7D7D7;
	box-shadow: 0 5px 11px 0 #D7D7D7;
}
form{
    margin-top: 57px;
}
.form-row{
    margin-bottom: 25px;
}
.form-control, .custom-select{
    padding: 8px;
    width: 362px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #D7D7D7 ;
    border-radius: 3px;
}
.btn-primary{
    color: white;
    font-size: 22px;
    font-weight: 400;
    background-color: #1E344C;
    padding: 10px 100px;
    border-radius: 3px;
}
.my-2{
    margin-top: 3rem!important;
    margin-bottom: 1.5rem!important;
}